.pdf-viewer-component-main {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    flex-flow: column;
    background-color: rgb(101, 110, 131);
    color: rgb(255, 255, 255);
    user-select: none;

    .rb-pdf-viewer {

        .rb-pdf-viewer-document {
            .rb-pdf-viewer-page {
                background-color: beige !important;
                display: flex;
                justify-content: center;
                // height: calc(100vh - 150px);

                canvas {
                    width: 100% !important;
                    height: auto !important;
                }
            }

            // .react-pdf__message {
            //     background-color: beige !important;
            //     width: 100% !important;
            //     height: 100% !important;
            // }
        }
    }

    .select-template-btn {
        img {
            filter: invert(1);
            transition: filter .15s;
        }

        color: #fff;

        &:hover {
            img {
                filter: none;
            }

            color: black;
        }
    }
}